@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fce7f3;
  --foreground: #831843;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #500724;
    --foreground: #fce7f3;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(135deg, #fce7f3 0%, #fbcfe8 100%);
  font-family: Arial, Helvetica, sans-serif;
}
